@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* Параметры шрифта по умолчанию */

body {
  font-family: "PT Sans", sans-serif;

  font-size: 22px;
  line-height: 26px;

}


/* 1. Базовые стили */

/* 1.1. Для текстов */

/*1.1.1. Простой текст */

.standart-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.standart-text-small {
  font-size: 18px;
  line-height: 21px;
}

.standart-text-small-2 {
  font-size: 16px;
  line-height: 20px;
}

.standart-text-white {
  color: #FFFFFF;
}


/* 1.1.2. Заголовки */

.heading-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
}

.heading-text-1 {
  font-size: 60px;
  line-height: 78px;
}

.heading-text-2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.heading-text-3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.heading-text-4 {
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.heading-text-white {
  color:#FFFFFF;
}



/* 1.1.3. Для кнопок и кнопочных ссылок */
.button-small-text-bold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.button-small-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.button-big-text {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.button-link {
  text-decoration: none;

}

.button, .button-link, .rating-button {
  font-family: 'PT Sans';
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

.reset-button {
  text-transform: none;
}


/* 1.1.4. Для текстовых ссылок */

.nav-link {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
}


/* 1.1.5. Одиночные компоненты */

.tel-link {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.hotel-card-heading {
  text-transform: none;
}

.rating-button {
  color: #333333;
}

.pagination-button-current {
  color: #000000;
}




/* 1.2. Размеры и фоны */



/* 1.2.1. Для больших секций */

.subscription {
  background-image: url(../images/backgrounds/subscription-background.jpg);
  background-repeat: no-repeat;
}

.subscription--catalog {
  background-image: none;
  background-color: #FFFFFF;
}

.hotel-searching {
  background-image: url(../images/backgrounds/catalog-background.jpg);
}


/* 1.2.2. Для блоков */



/* 1.2.3. Для кнопок и ссылок */

.button {
  background-color: #82B3D3;
}

.button-link {
  background-color: #756157;
}

.pagination-button {
  background-color: #82B3D3;
}

.pagination-button-current {
  background-color: #F2F2F2;
}

.hotel-card-favorits-button-green {
  background-color: #7DB54F;
}

.reset-button {
  background-color: rgba(0,0,0,0);
}



