@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* Параметры шрифта по умолчанию */

body {
  font-family: "PT Sans", sans-serif;

  font-size: 22px;
  line-height: 26px;

}

/* Вспомогательное */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* 1. Базовые стили */

/* 1.1. Для текстов */

/*1.1.1. Простой текст */

.standart-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.standart-text-small {
  font-size: 18px;
  line-height: 21px;
}

.standart-text-small-2 {
  font-size: 16px;
  line-height: 20px;
}

.standart-text-white {
  color: #FFFFFF;
}


/* 1.1.2. Заголовки */

.heading-text-1 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.heading-text-2 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.heading-text-3 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.heading-text-4 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.heading-text-white {
  color:#FFFFFF;
}



/* 1.1.3. Для кнопок и кнопочных ссылок */
.button-small-text-bold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.button-small-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.button-big-text {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.button-link {
  text-decoration: none;

}

.button, .button-link, .rating-button {
  font-family: 'PT Sans';
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.reset-button {
  text-transform: none;
}


/* 1.1.4. Для текстовых ссылок */

.nav-link {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
}


/* 1.1.5. Одиночные компоненты */

.tel-link {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.hotel-card-heading {
  text-transform: none;
}

.rating-button {
  color: #333333;
}

.pagination-button-current {
  color: #000000;
}



/* 1.1.6. Горизонтальное выравнивание текста */

.text-centered {
  text-align: center;
}




/* 1.2. Размеры и фоны,  */



/* 1.2.1. Для больших секций */

body{
  background-color: #E5E5E5;
}

.page-container{
  background-color: #FFFFFF;
}

.sedona-banner {
  /* width: 1200px;
  height: 485px; */
  background-image: url(../images/backgrounds/banner-background.jpg);
  background-size: 1200px 485px;
  background-repeat: no-repeat;
}

.subscription {
  background-image: url(../images/backgrounds/subscription-background.jpg);
  background-repeat: no-repeat;
}

.subscription--catalog {
  background-image: none;
  background-color: #FFFFFF;
}

.hotel-searching {
  background-image: url(../images/backgrounds/catalog-background.jpg);
  background-repeat: no-repeat;
}


/* 1.2.2. Для блоков */

.adv-brick-blue {
  background-color: #82B3D3;
}

.adv-brick-lightblue {
  background-color: rgba(131, 179, 211, 0.2);
}

.adv-brick-verylightblue {
  background-color: rgba(131, 179, 211, 0.12);
}

/* 1.2.3. Для кнопок и ссылок */

.button {
  background-color: #82B3D3;
  border-radius: 4px;
}

.button-link {
  background-color: #756157;
  border-radius: 4px;
}

.pagination-button {
  background-color: #82B3D3;
  border-radius: 4px;
}

/* .navigation .button-link {
  display: block;
  width: 160px;
  height: 37px;
}

.search-block .button-link {
  display: block;
  width: 574px;
  height: 60px;
  padding: 0px;
} */


/* Отдельные компоненты */

.pagination-button-current {
  background-color: #F2F2F2;
}

.hotel-card-favorits-button-green {
  background-color: #7DB54F;
}

.reset-button {
  background-color: rgba(0,0,0,0);
}



/* 2. Сетки. */

/* 2.1. Для крупных блоков */

html{
  height: 100%;
}

body {
  min-width: 1280px;
  margin: 0;
  height: 100%;
}

.page-container{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container{
  flex-grow: 1;
}

.navigation{
  width: 1200px;
  display: flex;
  margin: 0 auto;
}

.nav-list{
  padding: 0;
  margin: 0;
  }

.nav-logo{
  margin-left: 70px;
  margin-right: 30px;
}

.nav-site{
  width: 390px;
  margin-left: 0;
  margin-right: auto;
}

.nav-user{
  max-width: 264px;
  margin-right: 70px;
  margin-left: auto;
}

.sedona-head{
  width:1200px;
  margin: 0 auto;
}

.advantages  .title{
  margin-bottom: 90px;
}

.adv-block-inner{
  list-style: none;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  padding: 0;
  margin: 0;
  width: 1200px;
  grid-row-start: 2;

}

.advantages-block{
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-areas:
  "as1 as1 as1"
  "as1 as1 as1"
  "as2 as2 as2"
  "as3 as4 as5";
  grid-template-rows: 384px 384px 384px 384px;
  grid-template-columns: 400px 400px 400px;

}

.advantages-section-1{
  grid-area: as1;
  display: grid;
  grid-template-rows: 384px 384px;
  grid-template-columns: 400px 400px 400px;
}

.advantages-section-2{
  display: grid;
  grid-area: as2;
  grid-template-columns: 800px 400px;
  grid-template-rows: 384px;
}

/* .advantages-section-2 .adv-image{

} */

.advantages-section-3{
  grid-area: as3;
}

.advantages-section-4{
  grid-area: as4;
}

.advantages-section-5{
  grid-area: as5;
}

.adv-brick{
  display: flex;
}

.adv-brick-text{
  display: flex;
  flex-direction: column;
  width: 230px;
  row-gap: 30px;
  margin: auto;
}

.adv-brick-text p{
  margin: 0;
}

.search-block{
  width: 1200px;
  margin: 0 auto;
}

.search-block .title{
  margin-top: 91px;
}

.subscription{
  width: 1200px;
  margin: 0 auto;
}

.hotel-searching{
  width: 1060px;
  padding: 35px 70px 51px 70px;
  margin-bottom: 55px;
}

.hotel-searching-form{
  width: 1060px;
  display: flex;
}

.hotel-search-form-left{
  display: flex;
  margin-right: auto;
  justify-content: space-between;
}

.hotel-search-form-right{
  display: flex;
  margin-left: auto;
  justify-content: space-between;
}

.search-results-container{
  width: 1057px;
  display: flex;
  margin:0 71px 56px 74px;
}

.search-results-output{
  margin: 0;
}

.search-results-container .output-pattern-parameters{
  margin-right: auto;
  margin-left: 190px;
}

.search-results-container .output-pattern-select{
  margin-right: 0;
  margin-left: auto;
}

.pagination{
  display: flex;
  width: 1056px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 71px 0 73px;
  padding-top: 7px;
  border-top: 1px solid #E6E6E6;
}

.pagination-list{
  display: flex;
  list-style: none;
  padding: 0;

}

.page-footer{
  width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 70px 30px 70px;
}


/* 2.2 Для компонентов */

.nav-logo{
  margin-bottom:-10px;
}

.nav-list{
  display: flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}

.nav-site .nav-link{
  display: block;
  padding: 20px 17px;
}

.nav-user{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-user .button-link{
  padding: 9px 35px;
  display: block;
}

.nav-user .link-icon{
  display: block;
  background-color: grey;
  min-width: 42px;
  min-height: 66px
}

.sedona-banner{
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: 57px;
}

.sedona-slogan{
  width: 620px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.search-block .standart-text{
  width: 595px;
  margin: 0 auto;
  padding-bottom: 55px;
}

.search-block .button-link{
  margin: 0 auto;
  width: 574px;
  display: block;
  padding: 17px 0;
  margin-bottom: 93px;
}

.subscription .title{
  padding-top: 94px;
  padding-bottom: 29px;
  margin: 0;
}

.subscription p{
  margin-top: 0;
  margin-bottom: 46px;
}

.subscription-form{
  display: flex;
  margin: 0 auto;
  width: 806px;
  padding-bottom: 93px;
}

.email-input{
  padding: 0;
  padding-left: 23px;
  margin: 0;
  width: 577px;
  height: 60px;
  border: none;
  border-radius: 10px 0 0 10px;
  background: #F2F2F2;
}

.subscription-form .button{
  padding: 0;
  margin: 0;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 0 10px 10px 0 ;
}

.page-heading{
  margin: 0;
  margin-bottom: 5px;
}

.breadcrumbs-list{
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom:40px;
}

.form-group{
  padding: 0;
  border: 0;
}

.infra{
  margin-right: 70px;
}

.slider-group{
  padding: 0;
  border: 0;
}

.button-group{
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
}

.button-group .submit-button{
  margin-top: 60px;
  padding: 14px 35px;
  border: 0;
  border-radius: 4px;
}

.button-group .reset-button{
  padding: 20px 35px;
  border: 0;

}

.form-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-title{
  margin-bottom: 26px;
}

.form-list-item{
  margin-bottom: 10px;
}

.form-list-item:last-child{
  margin-bottom: 0;
}

.search-output{

  margin-bottom: 50px;
}

.search-pattern-select{
  width: 290px;
  height: 49px;
}

.search-output-pattern-list{
  display: flex;
  list-style: none;
  margin: 0;
}

.search-output-pattern-list-item{
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  min-width: 44px;
  min-height: 44px;
  margin-right:8px;
}

.search-output-pattern-list-item:last-child{

  margin-right: 0;
}

.search-output-pattern-list-item-selected{
  border-color: #000000;
}

.output-pattern-select{
  margin-left: auto;
}

.finding-hotels{
  margin: 0 71px 5px 73px;

}

.finding-hotels-list{
  list-style: none;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: 438px;
  column-gap: 18px;
  row-gap: 0;
  padding: 0;
  margin: 0;
}

.hotel-card{
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 20px;
  margin: 0;
}

.hotel-card img{
  order: -1;
  margin-bottom: 16px;
}

.hotel-card-heading{
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-price-table{
  width: 300px;
  margin-bottom: 16px;
  border-collapse: collapse;
}

.hotel-card-price-table .price{
  padding-left: 34px;
}

.card-buttons{
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.hotel-card-details-button{
  padding: 9px 27px 8px 27px;
}

.hotel-card-favorites-button{
  padding: 9px 20px 8px 20px;
  border:0;

}

.card-rating{
  display: grid;
  grid-template-columns: 140px 140px;
  row-gap: 20px;
  justify-content: space-between;
  width: 300px;
}

.rating-button{
  box-sizing: border-box;
  width: 140px;
  background-color: #F2F2F2;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

.pagination-list-item{
  padding: 0;
  margin: 0;
  margin-right: 7px;
}

.pagination-button{
  display:block;
  width: 23px;
  height: 36px;
  padding: 12px 19px;
}

.page-count-selection{
  border: none;
  padding: 0;
}

.page-count-select{
  width: 160px;
  height: 49px;
  margin-left: 44px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: #FFFFFF;
}
