@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* Параметры шрифта по умолчанию */

body {
  font-family: "PT Sans", sans-serif;

  font-size: 22px;
  line-height: 26px;

}

/* Вспомогательное */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* 1. Базовые стили */

/* 1.1. Для текстов */

/*1.1.1. Простой текст */

.standart-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.standart-text-small {
  font-size: 18px;
  line-height: 21px;
}

.standart-text-small-2 {
  font-size: 16px;
  line-height: 20px;
}

.standart-text-white {
  color: #FFFFFF;
}


/* 1.1.2. Заголовки */

.heading-text-1 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.heading-text-2 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.heading-text-3 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.heading-text-4 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.heading-text-white {
  color:#FFFFFF;
}



/* 1.1.3. Для кнопок и кнопочных ссылок */
.button-small-text-bold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.button-small-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.button-big-text {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.button-link {
  text-decoration: none;

}

.button, .button-link, .rating-button {
  font-family: 'PT Sans';
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.reset-button {
  text-transform: none;
}


/* 1.1.4. Для текстовых ссылок */

.nav-link {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
}


/* 1.1.5. Одиночные компоненты */

.tel-link {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.hotel-card-heading {
  text-transform: none;
}

.rating-button {
  color: #333333;
}

.pagination-button-current {
  color: #000000;
}



/* 1.1.6. Горизонтальное выравнивание текста */

.text-centered {
  text-align: center;
}



/* 1.2. Размеры и фоны,  */


/* 1.2.1. Для больших секций */

body{
  background-color: #E5E5E5;
}

.page-container{
  background-color: #FFFFFF;
}

.sedona-banner {
  /* width: 1200px;
  height: 485px; */
  background-image: url(../images/backgrounds/banner-background.jpg);
  /* background-size: 1200px 485px; */
  background-repeat: no-repeat;
}

.subscription {
  background-image: url(../images/backgrounds/subscription-background.jpg);
  background-repeat: no-repeat;
}

.subscription--catalog {
  background-image: none;
  background-color: #FFFFFF;
}

.hotel-searching {
  background-image: url(../images/backgrounds/catalog-background.jpg);
  background-repeat: no-repeat;
}


/* 1.2.2. Для блоков */

.adv-brick-blue {
  background-color: #82B3D3;
}

.adv-brick-lightblue {
  background-color: rgba(131, 179, 211, 0.2);
}

.adv-brick-verylightblue {
  background-color: rgba(131, 179, 211, 0.12);
}

/* 1.2.3. Для кнопок и ссылок */

.button {
  background-color: #82B3D3;
  border-radius: 4px;
}

.button-link {
  background-color: #756157;
  border-radius: 4px;
}

.pagination-button {
  background-color: #82B3D3;
  border-radius: 4px;
}



/* Отдельные компоненты */

.pagination-button-current {
  background-color: #F2F2F2;
}

.reset-button {
  background-color: rgba(0,0,0,0);
}

.hotel-link{
  color:#000;
  text-decoration: none;
}


/* 2. Сетки. */

/* 2.1. Для крупных блоков */

html{
  height: 100%;
}

body {
  min-width: 1280px;
  margin: 0;
  height: 100%;
}

.page-container{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container{
  flex-grow: 1;
}

.navigation{
  width: 1200px;
  display: flex;
  margin: 0 auto;
}

.nav-list{
  padding: 0;
  margin: 0;
  }

.nav-logo{
  margin-left: 70px;
  margin-right: 30px;
}

.nav-site{
  width: 390px;
  margin-left: 0;
  margin-right: auto;
}

.nav-user{
  /* max-width: 264px; */
  margin-right: 70px;
  margin-left: auto;
}

.sedona-head{
  width:1200px;
  margin: 0 auto;
}

.advantages  .title{
  margin-bottom: 90px;
}

.adv-block-inner{
  list-style: none;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  padding: 0;
  margin: 0;
  width: 1200px;
  grid-row-start: 2;

}

.advantages-block{
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-areas:
  "as1 as1 as1"
  "as1 as1 as1"
  "as2 as2 as2"
  "as3 as4 as5";
  grid-template-rows: 384px 384px 384px 384px;
  grid-template-columns: 400px 400px 400px;

}

.advantages-section-1{
  grid-area: as1;
  display: grid;
  grid-template-rows: 384px 384px;
  grid-template-columns: 400px 400px 400px;
}

.advantages-section-2{
  display: grid;
  grid-area: as2;
  grid-template-columns: 800px 400px;
  grid-template-rows: 384px;
}

/* .advantages-section-2 .adv-image{

} */

.advantages-section-3{
  grid-area: as3;
}

.advantages-section-4{
  grid-area: as4;
}

.advantages-section-5{
  grid-area: as5;
}

.adv-brick{
  display: flex;
}

.adv-brick-text{
  display: flex;
  flex-direction: column;
  width: 230px;
  row-gap: 30px;
  margin: auto;
}

.adv-brick-text p{
  margin: 0;
}

.search-block{
  width: 1200px;
  margin: 0 auto;
}

.search-block .title{
  margin-top: 91px;
}

.subscription{
  width: 1200px;
  margin: 0 auto;
}

.hotel-searching{
  width: 1060px;
  padding: 35px 70px 63px 70px;
  margin-bottom: 55px;
}

.hotel-searching-form{
  width: 1060px;
  display: flex;
  justify-content: space-between;
}

.hotel-search-form-left{
  max-width: 520px;
  display: flex;
  margin-right: auto;
  justify-content: space-between;
}

.hotel-search-form-right{
  width: 521px;
  display: flex;
  justify-content: space-between;

}

.slider-group .form-title{
  margin-left: -1px;
}

.search-results-container{
  width: 1060px;
  display: flex;
  margin:0 71px 56px 74px;
}

.search-results-output{
  margin: 0;
}

.search-results-container .output-pattern-parameters{
  margin-right: auto;
  margin-left: 190px;
}

.search-results-container .output-pattern-select{
  margin-right: 0;
  margin-left: auto;
}

.pagination{
  display: flex;
  width: 1056px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 71px 0 73px;
  padding-top: 7px;
  border-top: 1px solid #E6E6E6;
}

.pagination-list{
  display: flex;
  list-style: none;
  padding: 0;

}

.page-footer{
  width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 70px 30px 70px;
}


/* 2.2 Для компонентов */

.nav-logo{
  margin-bottom:-10px;
  z-index: 2;
}

.nav-list{
  display: flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}

.nav-site .nav-link{
  display: block;
  padding: 20px 17px;
}

.nav-user{
  display: flex;
  justify-content: flex-end;
  align-items:center;
  flex-wrap: wrap;
  margin-left: auto;
}

.nav-user .button-link{
  padding: 9px 35px;
  margin-left: 20px;
  display: block;
}

.nav-user .icon-link{
  display: block;

  min-width: 42px;
  min-height: 66px
}

.sedona-banner{
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: 57px;
  position: relative;
}

.sedona-slogan{
  width: 620px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.search-block .standart-text{
  width: 595px;
  margin: 0 auto;
  padding-bottom: 55px;
}

.search-block .button-link{
  margin: 0 auto;
  width: 574px;
  display: block;
  padding: 17px 0;
  margin-bottom: 93px;
}

.subscription .title{
  padding-top: 94px;
  padding-bottom: 29px;
  margin: 0;
}

.subscription p{
  margin-top: 0;
  margin-bottom: 46px;
}

.subscription-form{
  display: flex;
  margin: 0 auto;
  width: 806px;
  padding-bottom: 93px;
}

.email-input{
  padding: 0;
  padding-left: 23px;
  margin: 0;
  width: 577px;
  height: 60px;
  border: none;
  border-radius: 10px 0 0 10px;
  background: #F2F2F2;
}

.subscription-form .button{
  padding: 0;
  margin: 0;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 0 10px 10px 0 ;
}

.nav-social{
  display: flex;

}

.page-heading{
  margin: 0;
  margin-bottom: 5px;
}

.breadcrumbs-list{
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom:40px;
  padding: 0;
}

.form-group{
  padding: 0;
  border: 0;
}

.infra{
  margin-right: 70px;
}

.slider-group{
  padding: 0;
  border: 0;
}



.range-slider-input-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-slider-input-wrapper:hover{
  border-color: rgba(255, 255, 255, 0.6);
}

.range-slider-input-wrapper:focus-within{
  box-shadow: 0 0 0 3px #81B3D2,
  inset 0 0 0 3px #81B3D2;
}

.range-slider-input-wrapper:active{
  background: #756257;
}

.range-slider-input-wrapper-1{
  border-width: 2px 1px 2px 2px;
  border-color: #FFFFFF;
  border-style: solid;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  width: 144px;
}

.range-slider-input-wrapper-2{
  border-width: 2px 2px 2px 1px;
  border-color: #FFFFFF;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 0 4px 4px 0;
  width: 144px;
}

.range-slider-inputs{
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-top: 6px;
  margin-bottom: 26px;
}

.range-slider-input-label{
  color: #FFFFFF;
  opacity: 0.3;
  margin-right: 15px;
}

.slider-input{
  color: #FFFFFF;
  opacity: 1;
  background: transparent;
  border: none;
  width: 80px;
  height: 43px;
  margin-left: 15px;
  outline: none;
}

.slider-input{
  -moz-appearance:textfield;
}

.slider-input::-webkit-outer-spin-button,
.slider-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range-slider-bar{
  position: relative;
  width: 288px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 5px;
}

.range-slider-bar-inner{
  position: absolute;
  width: 228px;
  height: 4px;
  background-color: rgba(255,255,255,1);
}

.range-toggle{
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  padding: 0;
  background: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min{
  position: absolute;
  top: -8px;
}

.toggle-max{
  position: absolute;
  top: -8px;
  right: -8px;
}

.toggle-max:focus{
  border: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  top: -11px;
  right: -11px;
  outline:none;
}

.toggle-max:active{
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  top: -10px;
  right: -10px;
}

.toggle-min:focus{
  border: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  top: -11px;
  left: -3px;
  outline:none;
}

.toggle-min:active{
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  top: -10px;
  left: -2px;
}

.button-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  border: 0;
}

.button-group .submit-button{
  margin-top: 60px;
  padding: 14px 35px;
  border: 0;
  border-radius: 4px;
}

.button-group .reset-button{
  width: 100px;
  height: 32px;
  padding: 1px 1px;
  border: 3px solid rgba(0,0,0,0);
  margin-top: 14px;

}

.form-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-title{
  margin-left: -5px;
  margin-bottom: 26px;
}

.form-list-item{
  margin-bottom: 10px;
}

.form-list-item:last-child{
  margin-bottom: 0;
}

.search-output{

  margin-bottom: 50px;
}

.search-pattern-select{
  box-sizing: border-box;
  width: 290px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: #FFFFFF;
  padding: 0 15px;
}

.search-output-pattern-list{
  display: flex;
  list-style: none;
  margin: 0;
}

.search-output-pattern-list-item{
  position: relative;
  min-width: 48px;
  min-height: 48px;
  margin-right: 8px;
}

.search-output-pattern-list-item:last-child{

  margin-right: 3px;
}

.output-pattern-button{
  box-sizing: border-box;
  border: 2px solid #E5E5E5;
  border-radius: 4px;

}

.output-pattern-button-selected{
  border-color: #000000;
}

.output-pattern-select{
  margin-left: auto;
}

.finding-hotels{
  margin: 0 71px 5px 73px;

}

.finding-hotels-list{
  list-style: none;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: 438px;
  column-gap: 18px;
  row-gap: 0;
  padding: 0;
  margin: 0;
}

.hotel-card{
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 20px;
  margin: 0;
}

.hotel-card .img-link{
  order: -1;
  margin-bottom: 12px;
}

.hotel-card-heading{
  margin: 0;
  margin-bottom: 16px;
}

/* .hotel-card-price-table{
  width: 300px;
  margin-bottom: 16px;
  border-collapse: collapse;
}

.hotel-card-price-table .price{
  padding-left: 34px;
} */

.hotel-card-price, .hotel-card-type{
  width: 140px;
  margin: 0;
  padding: 0;

}

.card-info{
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 16px;
}

.card-buttons{
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.hotel-card-details-button{
  padding: 9px 27px 8px 27px;
}

.hotel-card-favorites-button{
  padding: 9px 20px 8px 20px;
  border:0;

}

.hotel-card-favorits-button-green {
  background-color: #7DB54F;
  padding-left: 18px;
  padding-right: 18px
}

.card-rating{
  display: grid;
  grid-template-columns: 140px 140px;
  row-gap: 20px;
  justify-content: space-between;
  width: 300px;
}

.rating-button{
  box-sizing: border-box;
  width: 140px;
  background-color: #F2F2F2;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

.pagination-list-item{
  padding: 0;
  margin: 0;
  margin-right: 7px;
}

.pagination-button{
  display:block;
  width: 23px;
  height: 36px;
  padding: 12px 19px;
}

.page-count-selection{
  border: none;
  padding: 0;
}

.page-count-select{
  width: 160px;
  height: 49px;
  margin-left: 44px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: #FFFFFF;
}


/* Декоративные элементы */


.nav-link-current::after{
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid #756257;
  position: relative;

  bottom:-21px;
  z-index:2

}

.user-nav-link{
  display: block;
}

.search-link{

  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: center;

}

.favorites-link{
  background-image: url(../images/icons/favorite.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  position: relative;
}

.output-pattern-button{
  display: block;
  width: 100%;
  height: 100%;
}

.search-output-pattern-list-item:nth-of-type(1) .output-pattern-button{
  background-image: url(../images/icons/icon-table.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.search-output-pattern-list-item:nth-of-type(2) .output-pattern-button{
  background-image: url(../images/icons/icon-slideshow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.search-output-pattern-list-item:nth-of-type(3) .output-pattern-button{
  background-image: url(../images/icons/icon-list.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.favorites-count{
  position: absolute;
  top: 15px;
  left: 24px;
  display: block;
  background-color: #7DB54F;
  border-radius: 50%;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}

.favorites-number{
  display: block;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.1em;
  color: #ffffff;
  text-decoration: none;
  margin-top: 3px;
}

.sedona-banner::after{
  content:"";
  background-image: url(../images/backgrounds/flange.svg);
  width: 100%;
  height: 57px;
  display: block;
  position: absolute;
  bottom: 5px;
}

.adv-brick-picto:nth-of-type(1) .adv-brick-text::before{
  content:"";
  width: 74px;
  height: 72px;
  background-image: url(../images/icons/house.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;

}

.adv-brick-picto:nth-of-type(2) .adv-brick-text::before{
  content:"";
  width: 74px;
  height: 72px;
  background-image: url(../images/icons/burger.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;

}

.adv-brick-picto:nth-of-type(3) .adv-brick-text::before{
  content:"";
  width: 74px;
  height: 76px;
  background-image: url(../images/icons/giftbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;

}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 48px;
  height: 40px;
}

.breadcrumbs-item:nth-of-type(n+2){
    margin-left: 10px;
}

.breadcrumbs-item:nth-of-type(n+2)::before{
  content:"";
  background-image: url(../images/icons/arrow-right.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;

}

.rating-stars{
  width: 140px;
  background-image: url(../images/icons/star.svg);
  background-repeat:no-repeat;
  background-position: left;

}

.rating-star-4{
  background-image: url(../images/icons/star.svg), url(../images/icons/star.svg), url(../images/icons/star.svg), url(../images/icons/star.svg);
  background-repeat:no-repeat;
  background-position: left, 24px, 48px, 72px;
}

.rating-star-3{
  background-image: url(../images/icons/star.svg), url(../images/icons/star.svg), url(../images/icons/star.svg);
  background-repeat:no-repeat;
  background-position: left, 24px, 48px;
}

.rating-star-2{
  background-image: url(../images/icons/star.svg), url(../images/icons/star.svg);
  background-repeat:no-repeat;
  background-position: left, 24px;
}

/* Поведение элементов */


.button-link:hover{
  background-color: #615048;
}

.button-link:focus{
  background-color: #615048;
  outline:none;
}

.button-link:active{
  color: rgba(255,255,255,0.3);
}

.button-link:disabled{
  background-color: #E5E5E5;
}

.button:hover{
  background-color: #68A2CA;
}

.button:focus{
  background-color: #68A2CA;
  outline:none;
}

.button:active{
  color: rgba(255,255,255,0.3);
}

.button:disabled{
  background-color: #E5E5E5;
}

.hotel-card-favorits-button-green:hover{
  background-color: #6C9E42;
}

.hotel-card-favorits-button-green:focus{
  background-color: #6C9E42;
  outline:none;
}

.hotel-card-favorits-button-green:active{
  background-color: #6C9E42;
}

.hotel-card-favorits-button-green:disabled{
  color:rgba(255, 255, 255, 0.3);
}

.social-icon{
  fill: #83B3D3;
}

.social-link:hover .social-icon{
  fill: #68A2CA;
}

.social-link:focus .social-icon{
  fill: #68A2CA;
  outline:none;
}

.social-link:active .social-icon{
  fill: rgba(104, 162, 202, 0.3);
}

.tel-link:hover{
  color: #756157;
}

.tel-link:focus{
  color: #756157;
  outline: none;
}

.tel-link:active{
  color: rgba(117, 97, 87, 0.3);
}

.ha-logo{
  fill: #000;
}

.ha-logo:hover{
  fill: #756157;
}

.ha-logo:focus{
  fill: #756157;
  outline: none;
}

.ha-logo:active{
  fill: rgba(117, 97, 87, 0.3);
}

.breadcrumbs-icon:hover{
  opacity: 0.6;
}

.breadcrumbs-icon:active{
  opacity: 0.3;
}

.breadcrumbs-link:hover{
  opacity: 0.6;
}

.breadcrumbs-link:active{
  opacity: 0.3;
}

.hotel-searching-form .reset-button:hover{
  background-color: rgba(0,0,0,0);
  opacity: 0.6;
}

.hotel-searching-form .reset-button:focus{
  background-color: rgba(0,0,0,0);
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}

.hotel-searching-form .reset-button:active{
  opacity: 0.3;
  background-color: rgba(0,0,0,0);
}

.search-pattern-select:hover{
  border-color: #68A2CA;
}

.search-pattern-select:focus{
  border-color: #68A2CA;
  outline: none;
}

.search-pattern-select:active{
  border-color: #3F5E72;
  outline: none;
}

.search-pattern-select:disabled{
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);

}

.search-pattern-select:disabled option{

  color: rgba(0, 0, 0, 0.3);

}




.output-pattern-button:hover{
  border-color: #000000;
}

.output-pattern-button:focus{
  border-color: #68A2CA;
  outline: none;
}

.output-pattern-button:active{
  border-color: #000000;
}

.pagination-button:hover{
  background-color: #68A2CA;
}

.pagination-button:focus{
  background-color: #68A2CA;
  outline: none;
}

.pagination-button:active{

  color: rgba(255,255,255,0.3);
}

.pagination-button-current:hover{
  background-color: #f2f2f2;
  color: #000;
}

.pagination-button-current:focus{
  background-color: #f2f2f2;
  color: #000;
  outline: none;
}

.pagination-button-current:active{
  background-color: #f2f2f2;
  color: #000;
}

.input-label{
  position: relative;
  margin-left: 38px;
}

.control-mark-checkbox{
  position: absolute;
  box-sizing: border-box;
  top: 2px;
  left: -40px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-mark-radiobutton{
  position: absolute;
  box-sizing: border-box;
  top: 2px;
  left: -40px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.input-label:hover .control-mark-checkbox{
  background: rgba(255, 255, 255, 0.6);
}

.input-label:hover .control-mark-radiobutton{
  background: rgba(255, 255, 255, 0.6);
}

.search-form-checkbox:focus+.control-mark-checkbox{
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid #83B3D3;
  border-radius: 4px;
}



.search-form-radiobutton:focus:checked+.control-mark-radiobutton{
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid #83B3D3;
}

.input-label:active .control-mark-checkbox{
  background: rgba(255, 255, 255, 0.3);
}

.input-label:active .control-mark-radiobutton{
  background: rgba(255, 255, 255, 0.3);
}

.search-form-checkbox:checked+.control-mark-checkbox::before{
  /* background-color: #FFFFFF; */
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background: url(../images/icons/check.svg);
}

.search-form-radiobutton:checked+.control-mark-radiobutton::before{
  /* background-color: #FFFFFF; */
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
}

.search-form-radiobutton:focus:checked+.control-mark-radiobutton::before{
  position: absolute;
  content: "";
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
}

.search-form-checkbox:focus:checked+.control-mark-checkbox::before{
  position: absolute;
  content: "";
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background: url(../images/icons/check.svg);
}


/* Модальное окно */

.modal-switcher{
  display: block;
}

.modal-container{
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}

.modal-window{
  width: 715px;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  display: flex;
}

.modal-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
  min-width: 578px;
  min-height: 60px;
}

.modal-title{
  padding: 0;
  margin: 0;
}

.modal-close-button{
  position: relative;
  top: 1px;;
  right: 3px;
  box-sizing: content-box;

  width: 53px;
  height: 53px;
  padding: 0;
  margin-bottom: 1px;
  border-radius: 50%;
  border: 0;
  background-color: #F2F2F2;
}

.modal-close-button-cross{
  position: absolute;
  top: 19px;
  left: 20px;
}

.modal-content-wrapper{
  width: 575px;
  margin: 54px  auto 70px auto;
}

.modal-input-date{
  width: 416px;
  height: 50px;
  background: #F2F2F2;
  border: none;
  border-radius: 4px;
  text-indent: 18px;
  opacity: 0.6;
}



.modal-paragraph{
  box-sizing: border-box;
  width: 420px;
  height: 29px;
  margin: 0;
  padding: 8px 0 0 0;
  margin-left: 155px;
  margin-bottom: 11px;;

}

.modal-error-message{
  color: #FF5757;
}

.modal-fieldset-bottom{
  display: flex;
  justify-content: space-between;
}

.modal-input-line{
  position: relative;
}

.modal-input-line:after{
  content: "";
  position: absolute;
  width: 17px;
  height: 15px;
  top: 18px;
  right: 17px;
  background-image: url(../images/icons/modal-calendar.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  z-index:10;
}

.modal-input-group-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 575px;
  height: 50px;
}

.modal-input-group-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 575px;
  height: 50px;
}

.modal-fieldset-bottom-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 288px;
  height: 50px;
}

.modal-fieldset-bottom-right{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  height: 50px;
}

.modal-input-group{
  width: 133px;
  height: 50px;
  display: flex;
  justify-content: stretch;
}

.modal-input{
  color: #000000;
  outline: none;
}

.modal-input-count{
  width: 20%;
  border: none;
  background: #F2F2F2;
  text-align: center;

  -moz-appearance: textfield;
}

.modal-input-count::-webkit-outer-spin-button,
.modal-input-count::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.modal-button{
  width: 40%;
  border: 0;
  background: #F2F2F2;
  outline: none;
}

.modal-button-plus{
  border-radius: 0 4px 4px 0;

}

.modal-button-minus{
  border-radius: 4px 0 0 4px;

}

.modal-minus{
  position: relative;
  top: -5px;
}

.modal-info-button{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color:#83B3D3;
  background-image: url(../images/icons/info.svg);
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  top: 2px;
  left: -6px;
}

.modal-button-find{
  width: 575px;
  height: 60px;
  margin-top: 40px;
  background: #83B3D3;
  border: none;
  border-radius: 10px;
  color: #ffffff;
}

.modal-info-popover{
  position: absolute;
  top: 55px;
  left: -60px;
  width: 256px;
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: none;
}

.modal-info-popover::before{
  content: "";
  background-color: transparent;
  background-image: url(../images/icons/modal-triangle.svg);
  background-repeat: no-repeat;
  width: 19px;
  height: 9px;
  position: absolute;
  top: -9px;
  left: 117px;
  z-index: 2;
}

.modal-info-text{
  box-sizing: content-box;
  width: 216px;
  padding: 15px 18px 24px 22px;
  margin: 0;
  color: #ffffff;
  line-height: 21px;
}


/* Поведение элементов модального окна */

.modal-info-button:hover{
  background-color: #68A2CA;

}

.modal-info-button:hover ~ .modal-info-popover{
  display: block;

}

.modal-close-button:hover{
  background-color: #E6E6E6;
}

.modal-close-button:focus{
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
  outline: none;
  right: 0;

}

/* .modal-close-button:focus .modal-close-button-cross{
  top: 16px;
  left: 17px;
} */

.modal-close-button:active{
  background-color: #E6E6E6;
}

.modal-close-button:active .modal-close-button-cross{
  opacity: 0.3;
}

.modal-input-date:hover{
  background-color: #E6E6E6;
  opacity: 0.6;
}

.modal-input-date:focus{
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
  opacity: 0.6;
}

.modal-input-date:active{
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 4px;
}

.modal-button-minus .modal-minus{
  opacity: 0.3;
}

.modal-button-minus:hover .modal-minus{
  opacity: 1;
}

.modal-button-minus:focus .modal-minus{
  opacity: 1;
  border: 3px solid #83B3D3;
  border-radius: 4px;
  padding: 10px 3px;
  top: 0;
  outline: none;
}

.modal-button-minus:active .modal-minus{
  opacity: 1;
}

.modal-button-plus .modal-plus{
  opacity: 0.3;
}

.modal-button-plus:hover .modal-plus{
  opacity: 1;
}

.modal-button-plus:focus .modal-plus{
  opacity: 1;
  border: 3px solid #83B3D3;
  border-radius: 4px;
  padding: 3px 3px;
  top: 0;
  outline: none;
}

.modal-button-plus:active .modal-plus{
  opacity: 1;
}

.modal-button-find:hover{
  background-color: #68A2CA;
}

.modal-button-find:focus{
  background-color: #68A2CA;
  border: 3px solid #756257;
  outline: none;
}

.modal-button-find:focus .modal-close-button-cross{

  outline: none;
}

.modal-button-find:active{
  background-color: #68A2CA;
  color: rgba(255,255,255,0.3);
}
